<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tenant.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @tenant.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @tenant.apellido_materno %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @tenant.domicilio %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @tenant.calle %>
</p>

<p>
  <strong>No interior:</strong>
  <%= @tenant.no_interior %>
</p>

<p>
  <strong>No exterior:</strong>
  <%= @tenant.no_exterior %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @tenant.colonia %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @tenant.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tenant.estado %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @tenant.codigo_postal %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @tenant.municipio %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @tenant.delegacion %>
</p>

<p>
  <strong>Telefono casa:</strong>
  <%= @tenant.telefono_casa %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @tenant.telefono_movil %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @tenant.curp %>
</p>

<p>
  <strong>Ife:</strong>
  <%= @tenant.ife %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @tenant.estado_civil %>
</p>

<p>
  <strong>Arrendador actual:</strong>
  <%= @tenant.arrendador_actual %>
</p>

<p>
  <strong>Arrendador anterior:</strong>
  <%= @tenant.arrendador_anterior %>
</p>

<p>
  <strong>Domicilio anterior:</strong>
  <%= @tenant.domicilio_anterior %>
</p>

<p>
  <strong>Nombre aval:</strong>
  <%= @tenant.nombre_aval %>
</p>

<p>
  <strong>Domicilio aval:</strong>
  <%= @tenant.domicilio_aval %>
</p>

<p>
  <strong>Telefono aval:</strong>
  <%= @tenant.telefono_aval %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
