<%- model_class = Tenant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @tenant.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellido_paterno) %>:</strong></dt>
  <dd><%= @tenant.apellido_paterno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellido_materno) %>:</strong></dt>
  <dd><%= @tenant.apellido_materno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domicilio) %>:</strong></dt>
  <dd><%= @tenant.domicilio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calle) %>:</strong></dt>
  <dd><%= @tenant.calle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_interior) %>:</strong></dt>
  <dd><%= @tenant.no_interior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_exterior) %>:</strong></dt>
  <dd><%= @tenant.no_exterior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:colonia) %>:</strong></dt>
  <dd><%= @tenant.colonia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ciudad) %>:</strong></dt>
  <dd><%= @tenant.ciudad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado) %>:</strong></dt>
  <dd><%= @tenant.estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codigo_postal) %>:</strong></dt>
  <dd><%= @tenant.codigo_postal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:municipio) %>:</strong></dt>
  <dd><%= @tenant.municipio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:delegacion) %>:</strong></dt>
  <dd><%= @tenant.delegacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_casa) %>:</strong></dt>
  <dd><%= @tenant.telefono_casa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_movil) %>:</strong></dt>
  <dd><%= @tenant.telefono_movil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:curp) %>:</strong></dt>
  <dd><%= @tenant.curp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ife) %>:</strong></dt>
  <dd><%= @tenant.ife %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_civil) %>:</strong></dt>
  <dd><%= @tenant.estado_civil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:arrendador_actual) %>:</strong></dt>
  <dd><%= @tenant.arrendador_actual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:arrendador_anterior) %>:</strong></dt>
  <dd><%= @tenant.arrendador_anterior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domicilio_anterior) %>:</strong></dt>
  <dd><%= @tenant.domicilio_anterior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_aval) %>:</strong></dt>
  <dd><%= @tenant.nombre_aval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domicilio_aval) %>:</strong></dt>
  <dd><%= @tenant.domicilio_aval %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_aval) %>:</strong></dt>
  <dd><%= @tenant.telefono_aval %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tenants_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_path(@tenant), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tenant_path(@tenant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
