<%- model_class = Trial -%>
<br><br>
<div class="row">
  <div class='col-md-4 col-xs-4 text-center'>
    <%= link_to t('.back', :default => t("helpers.links.back")),
    trials_path, :class => 'btn btn-default'  %>

  </div>
  <div class='col-md-4 col-xs-4 text-center'>
    <p class="title">Viendo Juicio</p>
  </div>

  <div class='col-md-4 col-xs-4 text-center'>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_trial_path(@trial), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    trial_path(@trial),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>

  </div>
</div>
<div class="divider">

</div>
<div class="row">
  <div class="col-md-12">
    <h2>Actor</h2>
  </div>
</div>
<div class="row">  <!-- row -->
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:actor_nombre)%></label>
      <p><%= @trial.actor_nombre%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:actor_apellido_paterno)%></label>
      <p><%= @trial.actor_apellido_paterno%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:actor_apellido_materno)%></label>
      <p><%= @trial.actor_apellido_materno%></p>
    </div>
  </div>
</div>

<div class="divider"></div>
<div class="row">
  <div class="col-md-12">
    <h2>Demandado</h2>
  </div>
</div>
<div class='row'>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:demandado_nombre)%></label>
      <p><%= @trial.demandado_nombre%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:demandado_apellido_paterno)%></label>
      <p><%= @trial.demandado_apellido_paterno%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:demandado_apellido_materno)%></label>
      <p><%= @trial.demandado_apellido_materno%></p>
    </div>
  </div>
</div>
<div class='divider'></div>
<div class="row">
  <div class="col-md-12">
    <h2>Abogado Patrono</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:abogado_patrono_nombre)%></label>
      <p><%= @trial.abogado_patrono_nombre%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:abogado_patrono_apellido_paterno)%></label>
      <p><%= @trial.abogado_patrono_apellido_paterno%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:abogado_patrono_apellido_materno)%></label>
      <p><%= @trial.abogado_patrono_apellido_materno%></p>
    </div>
  </div>
</div>
<div class='divider'></div>
<div class="row">
  <div class="col-md-12">
    <h2>Información del Juicio</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:tipo_juicio)%></label>
      <p><%= @trial.tipo_juicio%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:numero_expediente)%></label>
      <p><%= @trial.numero_expediente%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:juzgado)%></label>
      <p><%= @trial.juzgado%></p>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:distrito_judicial_string)%></label>
      <p><%= @trial.distrito_judicial_string%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:ultima_actuacion)%></label>
      <p><%= @trial.ultima_actuacion%></p>
    </div>
  </div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:estado_procesal)%></label>
      <p><%= @trial.estado_procesal%></p>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:fecha_vencimiento_termino)%></label>
      <p><%= @trial.fecha_vencimiento_termino%></p>
    </div>
  </div>
  <div class="col-md-4 form-group"></div>
  <div class="col-md-4 form-group">
    <div class="margin-form">
      <label><%= model_class.human_attribute_name(:comentario)%></label>
      <p><%= @trial.comentario%></p>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Documentos</h2>
  </div>
</div>
<% if @trial.generic_images.blank? %>
  <p>No Existen Documentos</p>
<% end %>
<% for document in @trial.generic_images %>
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="col-md-3 col-xs-3">
        <p><%= document.description %></p>
      </div>
      <div class="col-md-3 col-xs-3">
        <a href="<%= document.document.url %>">Descargar</a>
      </div>
      <div class="col-md-6 col-xs-6">
        <p><%= document.updated_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>
<% end %>
<br><br><br>
