<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @promotion.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @promotion.comment %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
